{% extends 'App_innovaSoft/base.html' %}

{%block content%}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Menu</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>


    <div class="container mt-5"> 
        <h2 class="text-center">InnovaSoft Solutions te da la Bienvenida</h2><br><br>
        <!--Tarjetas de inicio-->
        <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body" style="border-style:dashed;background-color: rgb(26, 28, 48);">
                  <h5 class="card-title" style="color: white"><b>Catalogo de Cuentas</b></h5>
                  <p class="card-text" style="color: white;">Visita el catalogo de Cuentas de InnovaSoft Solutions</p>
                  <a href="{% url 'CatalogoCuentas' %}" class="btn btn-outline-danger">Visitar</a> <i class="bi bi-journal-bookmark" style="font-size: 2rem; color: white; margin-left: 150px;"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="border-style: dashed; background-color: rgb(26, 28, 48)">
                  <h5 class="card-title" style="color: white;"><b>Libro Mayor</b></h5>
                  <p class="card-text" style="color: white;">Realiza consultas al libro mayor y si deseas puedes descargar el balance de cuentas.</p>
                  <a href="{% url 'libroMayor' %}" class="btn btn-outline-danger">Consultar</a><i class="bi bi-book" style="font-size: 2rem; color: white;margin-left: 150px;"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body" style="border-style: dashed; background-color:rgb(26, 28, 48)">
                    <h5 class="card-title" style="color: white;"><b>Transacciones</b></h5>
                    <p class="card-text" style="color: white;">Puedes agregar una nueva transacción o editar una ya existente</p>
                    <a href="{% url 'transaccion' %}" class="btn btn-outline-danger">Agregar o Editar</a><i class="bi bi-arrow-left-right" style="font-size: 2rem; color: white;margin-left: 110px;"></i>
                  </div>
                </div>
              </div>
          </div><br><br>
          <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body" style="border-style: dashed; background-color:rgb(26, 28, 48);">
                  <h5 class="card-title" style="color: white;"><b>Costos</b></h5>
                  <p class="card-text" style="color: white;">Consulta los costos asociados a las cuentas de InnovaSoft</p>
                  <a href="{% url 'costos' %}" class="btn btn-outline-danger">Consultar</a><i class="bi bi-currency-dollar" style="font-size: 2rem; color: white;margin-left: 140px;"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="border-style: dashed; background-color: rgb(26, 28, 48);">
                  <h5 class="card-title" style="color: white;"><b>Estados financieros</b></h5>
                  <p class="card-text" style="color: white;">Detalles de costo de ventas, estado de ganancias y pérdidas y el balance general</p>
                  <a href="{% url 'estadoFinancieros' %}" class="btn btn-outline-danger">Consultar</a><i class="bi bi-pencil-square" style="font-size: 2rem; color: white;margin-left: 140px;"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body" style="border-style: dashed; background-color: rgb(26, 28, 48);">
                    <h5 class="card-title" style="color: white;"><b>Inventario</b></h5>
                    <p class="card-text" style="color: white;">Consulta aqui el control de nuestro  inventario de Innovasft</p>
                    <a href="#" class="btn btn-outline-danger">Consultar</a><i class="bi bi-box-seam" style="font-size: 2rem; color: white;margin-left: 140px;"></i>
                  </div>
                </div>
              </div>
          </div><br><br>
          {%endblock%}
</body>
</html>