{% extends 'App_innovaSoft/base.html' %}
{% load custom_filters %}
{%block content%}

<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Libro Mayor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/libroMayor.css' %}"> 
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Libro Mayor</h2><br>
    
        <!-- Tabla de libro mayor para cada cuenta -->
        {% for cuenta in transacciones_por_cuenta %}
            <h4>
                Cuenta: 
                {% if cuenta.idSubCuenta %}
                    {{ cuenta.idSubCuenta__nombre }} 
                {% else %}
                    {{ cuenta.idCuentaDetalle__nombre }} 
                {% endif %}
            </h4>
    
            <div class="table-container" style="overflow-y: auto; max-height: 300px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código de cuenta</th>
                            <th>Nombre</th>
                            <th>Debe</th>
                            <th>Haber</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaccion in cuenta.transacciones %}
                            <tr>
                                <td>
                                    {% if transaccion.idSubCuenta %}
                                        {{ transaccion.idSubCuenta.codigoCuenta }}
                                    {% else %}
                                        {{ transaccion.idCuentaDetalle.codigoCuenta }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if transaccion.idSubCuenta %}
                                        {{ transaccion.idSubCuenta.nombre }}
                                    {% else %}
                                        {{ transaccion.idCuentaDetalle.nombre }}
                                    {% endif %}
                                </td>
                                <td>{{ transaccion.debe|floatformat:2 }}</td>
                                <td>{{ transaccion.haber|floatformat:2 }}</td>
                                <td>{{ transaccion.debe|floatformat:2 }} - {{ transaccion.haber|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="total-row">
                            <td colspan="2">TOTAL</td>
                            <td>{{ cuenta.total_debe }}</td>
                            <td>{{ cuenta.total_haber }}</td>
                            <td>{{ cuenta.saldo|absolute }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <br>
        {% endfor %}
    </div>
    
    
    
    
    
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    {%endblock%}
</body>
</html>
