{% extends 'App_innovaSoft/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Transacción</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/Transaccion.css' %}">
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-center">Transacción</h2><br>

          <!-- Filtros de busqueda-->
          <div class="row mb-4">
            <div class="col-md-4">
                <label for="tipoCuenta" class="form-label">Tipo de Cuenta</label>
                <select id="tipoCuenta" class="form-select">
                    <option>TODAS</option>
                    <option>ACTIVOS</option>
                    <option>PASIVOS</option>
                    <option>PATRIMONIO</option>
                    <option>CUENTAS DE RESULTADO</option>
                    <option>CUENTA DE CIERRE</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="rubro" class="form-label">Rubro</label>
                <select id="rubro" class="form-select">
                    <option>TODAS</option>
                    <option>ACTIVO CORRIENTE</option>
                    <option>ACTIVO NO CORRIENTE</option>
                    <option>PASIVO CORRIENTE</option>
                    <option>PASIVO NO CORRIENTE</option>
                    <option>CAPITAL</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="cuentaMayor" class="form-label">Cuenta Mayor</label>
                <select id="cuentaMayor" class="form-select">
                    <option>EFECTIVO Y EQUIVALENTES DE EFECTIVO</option>
                    <option>CUENTAS Y DOCUMENTOS POR COBRAR</option>
                    <option>CRÉDITO FISCAL - IVA</option>
                    <option>PRÉSTAMOS A CORTO PLAZO</option>
                    <option>TODAS</option>
                </select>
            </div>
        </div>

       <!-- Búsqueda rápida y botones -->
<div class="row mb-4">
    <div class="col-md-4">
        <label for="busqueda" class="form-label">Cuentas:</label>
        <div class="input-group">
            <input type="text" id="busqueda" class="form-control" placeholder="Búsqueda rápida">
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
        </div>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
      <div class="mt-4">
          <button class="btn btn-guardar me-4">Guardar</button>
      </div>
  </div>
</div>

      <!-- Tabla de transacciones -->
      <table class="table table-bordered" id="dynamicTable">
        <thead class="table table-dark">
            <tr>
                <th>N° Cuenta</th>
                <th>Nombre de Cuenta</th>
                <th>Debe</th>
                <th>Haber</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Fila de ejemplo -->
            <tr>
              <td>
                <select class="form-control" id="cuentaSelect" name="cuenta">
                <option value="" disabled selected>Seleccione una cuenta</option>
                {% for cuenta in CatalogoCuentas %}
                    <option value="{{ cuenta.id }}">{{ cuenta.nombre }}</option>
                {% endfor %}
            </select>
        </td>
              <td><input type="text" class="form-control numero-cuenta" placeholder="Nombre de Cuenta" readonly></td>
              <td><input type="number" class="form-control debe" placeholder="Debe"></td>
              <td><input type="number" class="form-control haber" placeholder="Haber"></td>
              <td><button class="btn btn-danger btn-sm removeRow">Eliminar</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td><td></td>
                <td><span id="totalDebe">0</span></td>
                <td><span id="totalHaber">0</span></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
         <!-- Botón para agregar fila -->
       <div class="form-group col-md-4 ml-auto-left">
        <button id="addRow" class="btn btn-primary">Agregar Fila</button>
        </div>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/transaccion.js' %}"></script>
</body>
</html>
{% endblock %}
