/* CatalogoCuentas.css */
body {
    font-family: Arial, sans-serif;
    color: #2c3e50; /* Color del texto */
}

.form-select {
    background-color: #d8d5d5d2; /* Color de fondo del combobox */
    color: #000000; /* Color del texto en el combobox */
}

.btn-nueva {
    background-color: #65df9cbd; 
    color: rgb(0, 0, 0); /* Texto blanco */
}

.btn-modificar {
    background-color: #5babe0b6; 
    color: rgb(0, 0, 0); /* Texto blanco */
}

/* Efecto hover en los botones */
.btn-nueva:hover {
    background-color: #65df9c77; /* Tono más oscuro al pasar el mouse */
}

.btn-modificar:hover {
    background-color: #5babe06b; 
}
/* Estilo para las cuentas secundarias (detalles) */

.detalle-cuenta td {
    background-color: #f1f1f1; /* Fondo claro */
    color: #666;              /* Color de texto más suave */
    padding-left: 2rem;       /* Mayor indentación para resaltar la jerarquía */
    font-size: 0.95rem;       /* Tamaño de fuente más pequeño */
}
/* Estilos generales para la tabla */
.table {
    margin-top: 20px;
    border-collapse: collapse; /* Mejora el aspecto de la tabla */
}

/* Estilo para las filas de subcuentas */
.table tbody tr {
    transition: background-color 0.3s ease; /* Efecto de transición al pasar el mouse */
}

.table tbody tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
}








